h1{
    color: blue;
    font-family:sans-serif;
}
.ab > button{
    font-size: 15px;
    background-color: blue;
    color:white;
}
hr{
    height: 10px;
    background-color: blue;
    width: 300px;
}

.search {
    color:white;
    background-color: blue;
}


input[type="text"]{
    background-color: beige;
    color: blue;
    font-weight: 700;
}